.kotakBiru{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: auto;
    opacity: 0.8;
    background-color: rgb(65, 203, 245);
    background-size: cover;
    z-index: 1;
}


.logo1{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}