{% load static %}
<html>
    <head>
        {% block menu %}
        <!-- <title>title/title -->
        {% endblock %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{% statics 'css/home.css' %}">
        <link href="https://font.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js'}"></script>
        <title>Home</title>
    </head>

    <body>
        <!-- header -->
        <header class="box">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-12" id="atas">
                        <h6>Alpha Tech Academy</h6>
                    </div>
                    <div class="col-md-6 col-12">
                        <nav>
                            <ul id="nav">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'blog' %}"></a>Blog</li>
                                <li><a href="#">Mentor</a></li>
                                <li><a href="#">Mentee</a></li>
                                <li><a href="#">Author</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <div class="container-fluid">
            <!-- box biru -->
            <div class="kotakBiru">
                <div class="col-12">
                    <img src="{% static './project_views/web_ATA/alpha_logo.png'}" class="logo1">
                    <div class="alphatech">
                        <h1>Alpha Tech Academy</h1>
                        <p>Alpha Tech Academy is a tech talent incubator that gives everyone
                            (even non IT background) a chance to be a professional Tech Talent
                            within 3 months. Contact Person: Email : academy@alphatech.id Mobile
                            phone: 0877 9609 9530
                        </p>                            
                    </div>
                </div>
            </div>
        </div>
        {% block content %}
        <!-- end of kotak biru -->
        {% endblock %}

    </body>

    <footer>
        <div class="product" style="background-color:aqua">
            <div class="col-md-12 text-center" id="produ">
                <span>Our Product:</span>
                <img class="img-product" src="./project_views/web_ATA/logo_grey_aphapay.png" alt="logo alphapay">
                <img class="img-product" src="./project_views/web_ATA/logo_grey_sepulsa.png" alt="logo sepulsa">
                <img class="img-prouct" src="./project_views/web_ATA/logo_grey_alphabill.png" alt="logo alphabill">
            </div>
        </div>
        <br>
        <div class="row footer">
            <div class="cold-md-12 text-center" id="kontak">
                <span>Contact Person: Mobile phone: 0877 9609 9530. Email: academy@alphatech.id</span>
            </div>
        </div>
    </footer>
</html>
