<html>


<body>
    <div class="container">
        <div class="section-row">
            <div class="row">
                <div class="img-event">
                    <img src ="./project_views/web_ATA/kendala-sepulsa.jpg">
                    <h6>September 25, 2018</h6>
                    <h2>Punya Kendala? Segera Hubungi Customer Service Sepulsa</h2>
                    <p>
                        Bagi Sepulsa, kepuasan pelanggan adalah yang utama. Kami senantiasa
                        mendengarkan keluhan maupun kendala yang kamu hadapi selama melakukan
                        transaksi di Sepulsa. Umumnya pelanggan Sepulsa menghadapi kendala sebagai
                        berikut: Status Order Pending Jika transaksi pembayaran sudah selesai, namun status
                        order kamu masih pending dalam jangka waktu 15 menit, segera hubungi tim Customer
                        Service dengan menyertakan email...
                        <br>
                        Baca Selengkapnya
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="img-event">
                    <img src ="./project_views/web_ATA/sms.png">
                    <h6>Agustus 14, 2018</h6>
                    <h2>OTP, Si Kode Rahasia nan Berbahaya</h2>
                    <p>
                        Kemudahan dalam berbagai transaksi perbankan memang banyak memberikan
                        keuntungan bagi nasabah. Bayangkan saja, aktivitas jual beli yang pada awalnya
                        membutuhkan waktu dan tempat, kini bisa dilakukan tanpa perlu beranjak dari tempat
                        duduk kamu dan pembayaran lunas dalam hitungan detik dengan transaksi online.
                        Namun tanpa disadari, kemudahan tersebut bukan berarti tanpa celah. Sebelum kita
                        membahas lebih...
                        <br>
                        Baca Selengkapnya
                    </p>
                </div>
            </div>

        </div>
    </div>
</body>

</html>