<!DOCTYPE html>
<html>
<head>

</head>

<body>

    <div class="wrapper">
        <div class="section-event">
            <div class="container">
                <div class="section-row">
                    <h2 class="title-section text-center">Our Mentor</h2>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="img-event">
                                <img src ="./project_views/web_ATA/people-andreas.png">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6 col-12">
                            <h5 class="title-light">Andreas Nugroho</h5>
                            <h6 class="title-light">Software Ninja(5 years experience)</h6>
                            <p class="deskrip-15">
                                "Great place to learn about programming. Come join us!"
                            </p>
                        </div>
                    </div>
                </div>

                <div class="section-row">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="img-event">
                                <img src ="./project_views/web_ATA/people-ramdhan.png">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6 col-12">
                            <h5 class="title-light">Ramdhan Hidayati</h5>
                            <h6 class="title-light">Master of Chaos (10 years experience)</h6>
                            <p class="deskrip-15">
                                "We make this program with passion, hard work and heart. Lets's get rock with us!"
                            </p>
                        </div>
                    </div>
                </div>

                <div class="section-row">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="img-event">
                                <img src ="./project_views/web_ATA/people-trimo.png">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6 col-12">
                            <h5 class="title-light">Trimo Leksono</h5>
                            <h6 class="title-light">Magician (8 years experience)</h6>
                            <p class="deskrip-15">
                                "The best place for who want to be a great IT talent."
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</body>

</html>